@charset "utf-8";
/* CSS Document */
body{
	/*background:#f3f5f8;*/
	background:#fff;
	font-family: sans-serif;
}
/*default*/
a{ outline: none !important;}
.btn-primary {
	color: #fff;
	background-color: #2980b9;
	border-color: #2980b9; 
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
	background-color: #006699;
	border-color: #006699; outline:none;
}
.nav-tabs a{ font-weight:bold;}
.container{
  max-width: none !important;
  width: 970px;
}

/*own*/
.header{ background:#2980b9; padding:15px 10px; margin-bottom:30px;}
.footer{ background:#ebebeb; padding:15px 10px; margin-top:30px; text-align:center; font-size:12px; color:rgba(0,0,0,0.50);}
.header_nav{ margin:0; padding:0; float:right; list-style:none;}
.header_nav li{ float:left;}
.header_nav li a{ display:block; padding:10px 20px; text-decoration:none; color:rgba(255,255,255,0.50); font-weight:bold; }
.header_nav li a:hover{ color:#fff;  }
.header_nav_active{ color:#fff !important; border-bottom:solid 1px #fff; }

.login_out{ background:rgba(0,51,102,0.7); padding:10px 20px; color:#fff; font-weight:bold; display: inline-block; border-radius:4px; }
.login_out:hover{ background:#003366; text-decoration:none; color:#fff;  }

.main_container{ }
.login{ border:solid 1px #dddddd; padding:25px; border-radius:4px; 
-moz-border-radius:4px;
-ms-border-radius:4px;
-o-border-radius:4px;
-webkit-border-radius:4px;
box-shadow:5px 5px 5px #dddddd;
-moz-box-shadow:5px 5px 5px #dddddd;
-ms-box-shadow:5px 5px 5px #dddddd;
-o-box-shadow:5px 5px 5px #dddddd;
-webkit-box-shadow:5px 5px 5px #dddddd; margin-bottom:25px;
}



.bold_btn{ font-weight:bold; font-size:16px;}
.center{ text-align:center;}
.right{ text-align:right;}
.bottom-space{ margin-bottom:15px;}
.top-space{ margin-top:15px;}
.bold{ font-weight:bold;}
.no-top-bottom{ margin:0;}
.error-label{ color:#a94442; font-weight:bold; font-size: 12px; }

.copyright{ float:left;}
.techgene{ float:right; text-align:right;}

